body {
  left: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.menu {
  background: #34495e;
  left: -250px;
  height: 100%;
  position: fixed;
  width: 250px;
}

.jumbotron {
  background-image: url('clouds-and-blue-sky-1920x1200.jpg');
  height: 900px;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.menu a:hover {
  color: yellow;
}

.icon-close {
  cursor: pointer;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  width:40px;
}

.icon-close:hover {
  color: yellow;
}

.icon-menu {
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom:25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
  width:80px;
}

.icon-menu:hover {
  color: yellow;
}

.icon-menu i {
  margin-right: 5px;
}













